<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Events</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="<%= assetPath("css/materialize.css") %>"  type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="<%= assetPath("css/style.css") %>" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="navbar-fixed">
      <nav class=" purple lighten-3 z-depth-4" role="navigation">
          <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo light-purple-text text-lighten-4">Logo</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/">
               Return Home
              </a></li>
              <li><a href="/registration" class="purple darken-5 accent-4 pulse">New Registration
              </a></li>

            </ul>
      
            <ul id="nav-mobile" class="sidenav">
              <li><a href="/">
                <i class="material-icons">fast_rewind</i>
              </a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          </div>
        </nav>
</div>

<div class="divider"></div>
<div class="divider"></div> 

      <!-- Content  -->
      <!-- Content  -->
      <!-- Content  -->
      <!-- Content  -->
      <!-- Content  -->
      <!-- Content  -->
      <!-- Content  -->
      <!-- Content  -->

      <%= partial("flash.html") %>
      <%= yield %>















      <!-- Footer  -->
      <!-- Footer  -->
      <!-- Footer  -->
      <!-- Footer  -->
      <!-- Footer  -->
      <!-- Footer  --> 


<div class="divider"></div>

<div class="section scrollspy" id="footer"> 
   <footer class="page-footer purple lighten-3 z-depth-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">
            something about company
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
</div>

<!-- Modal Structure -->
<div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
          

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="<%= assetPath("js/materialize.js") %>" ></script>
  <script src="<%= assetPath("js/init.js") %> "></script>

  </body>
</html>